*{
    margin:0;
    padding:0;
    border:0;
    font-size: large;
    font-weight: 600;
}
#send{
    background-color: Gainsboro;
}
.history-sql{
    background-color: Gainsboro;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    background-color: Gainsboro;
    bottom: 0px;
}
.page{
    margin-top: 20px;
    height: 1200px;
}