*{
    margin:0;
    padding:0;
    border:0;
    font-size: large;
    font-weight: 600;
}
#send{
    background-color: Gainsboro;
}
footer{
    background-color: Gainsboro;
}
.page{
    margin-top: 20px;
    height: 1200px;
}